/* CSS declarations go here */
#station-selector {
	margin-bottom: 5%;
	margin-top: 5%;
}

#header {
	border-style: solid;
	text-align: center;
	font-weight: bold;
}

#tile {
	text-align: center;
}

#sameStation {
	text-align: center;
	font-style: italic;
}